body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
    position: relative;
}

header img {
    max-width: 100px; /* Adjust the width of the logo as needed */
    position: absolute;
    top: 20px;
    left: 10px;
}

header nav {
    position: absolute;
    top: 25px;
    right: 10px;
}

nav a.button {
    display: inline-block;
    padding: 7px 10px;
    background-color: #666;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.custom-box {
    width: 300px;
    height: 200px;
    background-color: #f0f0f0;
    border: 2px solid #333;
    padding: 20px;
    margin: 50px auto;
    box-shadow: 5px 5px 10px #888888; /* Adding box shadow */
  }

section {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0px;
    width: 100%;
}

